body{
    background-color: beige;
}

.container{
    width: 1000px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(194, 255, 246);
    border: 5px solid black;
}

.nav{
    list-style: none;
    text-align: center;
    font-size: 20px;
}

.nav li{
    display: inline;
    margin-right: 20px;
}

.div-test{
    background-color: rgb(197, 190, 2);
    text-align: center;
    color: white;
    width: 500px;
    margin: 0 auto;
    border: 5px solid black;
}

.span1{
    font-size: xx-large;
}

.span2{
    font-size: 10px;
}

.div-image{
    text-align: center;
}