.content{
  position: relative;
  z-index: 1;
}

body{
    margin: 0;
    padding: 0;
}

.content::before{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("https://static0.polygonimages.com/wordpress/wp-content/uploads/chorus/uploads/chorus_asset/file/14814887/pokemon-list.0.0.1437077163.png?q=50&fit=crop&w=1600&h=900&dpr=1.5");
  opacity: 0.5;
  z-index: -1;
}

.container{
    width: 1000px;
    margin: 0 auto;
    padding: 30px;
    background-color: rgb(194, 255, 246);
    border: 5px solid black;
}

.nav{
    list-style: none;
    text-align: center;
    font-size: 20px;
}

.nav li{
    display: inline;
    margin-right: 20px;
}

h2{
    background-color: aqua;
    width: 1000px;
    margin: 0 auto;
    border: 2px solid black;
    text-align: center;
}

p{
    font-size: 20px;
    text-align: center;
}

h1{
    text-align: center;
}

.div-test{
    background-color: white;
    width: 450px;
    margin: 0 auto;
    border: 2px solid black;
}

.div-test1{
    background-color: white;
    margin: 0 auto;
    border: 2px solid black;
    float: left;
    margin-left: 19.05px;
    margin-right: 19.05px;
    margin-bottom: 30px;
    width: 30%;
}

.div-test2{
    background-color: white;
    margin: 0 auto;
    border: 2px solid black;
    float: left;
    margin-left: 29.6px;
    margin-right: 29.6px;
    margin-bottom: 30px;
    width: 45%;
    height: 450px;
}

.online::after {
  content: "";
  clear: both;
  display: table;
  margin: 0 auto;
}